{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}
	<main class="text-center m-auto">
		<h1>{{ product.nameProducts }}</h1>
		<h3>{{ product.price }}€</h3>

		<p>{{ product.description }}</p>

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for picture in product.pictures %}
					<div
						class="carousel-item active">
						{# <img src="{{ picture.namePicture }}" class="d-block w-100" alt="{{ picture.namePicture }}"> #}
						<p class="d-block w-100">{{ picture.namePicture }}</p>
					</div>
				{% endfor %}
			</div>
		</div>

		<a class="btn btn-primary" href="{{ path('app_products_index') }}">back to list</a>
	</main>

{% endblock %}
