{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}
	<main class="text-center m-auto">
		<h1>{{ product.nameProducts }}</h1>
		<h3>{{ product.price }}€</h3>

		<p>{{ product.description }}</p>

		<div class="presentation">
			{% for picture in product.pictures %}
				<img src="{{ asset('image/pictures/') ~ picture.namePicture }}" alt="{{ product.slug }}" class"presentation">
			{% endfor %}
		</div>


		<a class="btn btn-primary" href="{{ path('app_products_index') }}">back to list</a>
	</main>

{% endblock %}
